
# --- SEGURIDAD AWS Y DATAVERGENCIA ---
# No subir credenciales ni datos extraídos al repo público
.aws/
credentials.csv
accessKeys.csv
*.csv
*.json
!requirements.txt

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- DOCKER ---
.dockerignore
# Si usas variables de entorno para Flask
.env

# --- SISTEMA ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Himitsu.json
